NEXT_PUBLIC_SITE_URL=https://stapelstuhl-klapptisch.de
CONTACT_SMTP_HOST=
CONTACT_SMTP_PORT=587
CONTACT_SMTP_SECURE=false
CONTACT_SMTP_USER=
CONTACT_SMTP_PASSWORD=
CONTACT_FROM_EMAIL=
CONTACT_TO_EMAIL=info@dalemans.de
